<h3>Location Information</h3>
<p>Forty and Eight Voiture 1250
	<br>221 Albany St.
	<br>New Albany, IN 47150
	<br>812-948-9730
</p>
<br>
<h3>Photo Gallery</h3>
<div style="width: 840px; height: 300px; text-align:center;margin:0; padding:0;">
  <ng-image-slider #nav
                   [images]="imageObject"
                   [infinite]="true"
                   [autoSlide]="0"
                   [imageSize]="{width: '50%', height: 250, space: 12}"
                   slideImage="1"></ng-image-slider>
</div>
<br>
<h3>Directions</h3>
<!--
 <button (click)="getDirection()"> Get Directions</button> -->
<br>
<agm-map
  [zoom]="zoom"
  [latitude]="lat"
  [longitude]="lng">

  <agm-direction
    [origin]="origin"
    [destination]="destination">
  </agm-direction>

  <agm-marker
    *ngFor="let m of markers; let i = index"
    (markerClick)="clickedMarker(m.label, i)"
    [latitude]="m.lat"
    [longitude]="m.lng"
    [label]="m.label"
    [markerDraggable]="m.draggable">
    <agm-info-window>
      <strong>Forty And Eight Voiture 1250</strong>
    </agm-info-window>
  </agm-marker>
</agm-map>

<br>
<button   (click)="goToPage()"> ADMIN LOGIN</button>
