.card-add-member {
  float: left;
  padding-left: 10px;
  margin-inside: 10px;
}

input {
  text-align: center;
  width: 95%;
}
.heading{
  text-align: center;
  font-weight: bolder;
  font-size: xx-large;
}
.inputboxes {
  padding-left: 70px;
}

button {
  margin: 10px;
}

h3 {
  margin-left: 5px;
  margin-top: 10px;
}
.message {
  width: 500px;
  height: 50px;
  align-content: center;
  display: block;
  margin-right: auto;
  padding-right: 10px;
}

.txtbox {
  width: 500px;
}
.contactform {
  right:40px;
}
.label {
  font-weight: bold;
}
