<h2>Voiture 1250 Officers</h2>
<p><b>Chef de Gare:</b> John Prow
	<br><b>Chef de Train:</b> Ron Hanger
	<br><b>Commissaire Intendent:</b> Bernard (Bud) Schindler
	<br><b>Correspondant:</b> Jeff Carroll Sr.
	<br><b>Conducteur:</b> David Emily
	<br><b>Lampiste:</b> George Emily
	<br><b>Guarde de la Porte:</b> David Emily
</p>
<h3>Cheminot</h3>
<p>David Emily
	<br>Jerry Hill
	<br>James Labor 
	<br>Mike Meredith
	<br>Alan Miller
	<br>Chuck Patterson
</p>
<!--
<p class="tab">
<br><img class="img-responsive" src="assets/img/img3.gif" height="200">
<img class="img-responsive" src="assets/img/img2.png" width="300" height="200">
</p>
-->