
<nav class="navbar navbar-expand-lg navbar-dark bg-warning">
  <a class="navbar-brand" style="color:black" href="#">40 & 8 <img height="24" width="24" src="assets/img/40&8Crest.png"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul ngbNav routerLinkActive="active">
      <li ngbNavItem="homePage">
        <a ngbNavLink class="btn-warning" routerLink="homePage">Home</a>
      </li>
      <li ngbNavItem="newsAndEvents">
        <a ngbNavLink class="btn-warning" routerLink="newsAndEvents">News & Events</a>
      </li>
      <li ngbNavItem="leadingMembersInformation">
        <a ngbNavLink class="btn-warning" routerLink="leadingMembersInformation">Leading Members</a>
      </li>
      <li ngbNavItem="membershipInterest">
        <a ngbNavLink class="btn-warning" routerLink="membershipInterest">Membership Interest</a>
      </li>
      <li ngbNavItem="information">
        <a ngbNavLink class="btn-warning" routerLink="information">Information</a>
      </li>
    </ul>
  </div>
</nav>
<p></p>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<a href="https://www.facebook.com/drew.yellina" class="fa fa-facebook"></a>
<div class="container">
  <hr>
  <router-outlet></router-outlet>
</div>

<div class="content">
  <span>

  </span>
</div>


